@model HCIProject.Models.LaundryRoom
@{
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/Scripts/Index.js")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<body class="kiosk-background">
    <div class="kiosk-body">
        <h2 id="kioskTitle">Select A Machine:</h2>
        <div class="machine-type-header">Washers</div>
        <div class="row">
            @foreach (var washer in Model.washerList)
            {
                <div class="col-sm-2" onclick="clicked('@(washer.status)', '@(washer.machineName)Washer')">
                    @if (washer.status.Equals("open"))
                    {
                        <div id="@(washer.machineName)Washer" class="washer-div open" data-toggle="modal" data-target="#reserveModal">
                            <h2 class="machine-number">@washer.machineName</h2>
                            <h4 id="status_@washer.machineName" class="machine-status">OPEN</h4>
                        </div>
                    }
                    else if (washer.status.Equals("idle"))
                    {
                        <div id="@(washer.machineName)Washer" class="washer-div done" data-toggle="modal" data-target="#doneModal">
                            <h2 class="machine-number">@washer.machineName</h2>
                            <h4 class="machine-status">DONE</h4>
                        </div>
                    }
                    else
                    {
                        <div id="@(washer.machineName)Washer" class="washer-div inUse">
                            <h2 class="machine-number">@washer.machineName</h2>
                            <h4 class="machine-status">IN USE</h4>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="machine-type-header">Dryers</div>
        <div class="row">
            @foreach (var dryer in Model.dryerList)
            {
                <div class="col-sm-2" onclick="clicked('@(dryer.status)', '@(dryer.machineName)Dryer')">
                    @if (dryer.status.Equals("open"))
                    {
                        <div id="@(dryer.machineName)Dryer" class="washer-div open" data-toggle="modal" data-target="#reserveModal">
                            <h2 class="machine-number">@dryer.machineName</h2>
                            <h4 class="machine-status">OPEN</h4>
                        </div>
                    }
                    else if (dryer.status.Equals("idle"))
                    {
                        <div id="@(dryer.machineName)Dryer" class="washer-div done" data-toggle="modal" data-target="#doneModal">
                            <h2 class="machine-number">@dryer.machineName</h2>
                            <h4 class="machine-status">DONE</h4>
                        </div>
                    }
                    else
                    {
                        <div id="@(dryer.machineName)Dryer" class="washer-div inUse">
                            <h2 class="machine-number">@dryer.machineName</h2>
                            <h4 class="machine-status">IN USE</h4>
                        </div>
                    }
                </div>
            }
        </div>

    <div class="modal" id="reserveModal" tabindex="-1" role="dialog" aria-labelledby="reserveModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="cycleSelection">
                <div class="modal-header">
                    <h5 class="modal-title" id="reserveModalLabel">Reserve Machine</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:center;">
                    <form>
                        <p class="cycle-type">Select Cycle Type</p>
                        <select>
                            <option> Regular Wash </option>
                            <option> Delicates </option>
                            <option> Permanent Press </option>
                        </select>
                    </form>
                    <br />
                    <button type="button" id="doneButton" class="btn btn-primary" onclick="nextClicked()">Next</button>
                </div>
            </div>
            <div class="modal-content" id="enterPin" style="display:none">
                <div class="modal-header">
                    <h5 class="modal-title" id="reserveModalLabel">Enter your Pin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:center">
                    <div class="form-group" style="text-align:center">
                        <input type="text" id="pinBox" class="pin-box" maxlength="4" disabled>
                        <br />
                        <table id="keypad" class="table pin-table">
                            <tr>
                                <td>
                                    <button type="button" id="1button" class="btn pin-button" onclick="insertCharacter()">1</button>
                                </td>
                                <td>
                                    <button type="button" id="2button" class="btn pin-button" onclick="insertCharacter()">2</button>
                                </td>
                                <td>
                                    <button type="button" id="3button" class="btn pin-button" onclick="insertCharacter()">3</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" id="4button" class="btn pin-button" onclick="insertCharacter()">4</button>
                                </td>
                                <td>
                                    <button type="button" id="5button" class="btn pin-button" onclick="insertCharacter()">5</button>
                                </td>
                                <td>
                                    <button type="button" id="6button" class="btn pin-button" onclick="insertCharacter()">6</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" id="7button" class="btn pin-button" onclick="insertCharacter()">7</button>
                                </td>
                                <td>
                                    <button type="button" id="8button" class="btn pin-button" onclick="insertCharacter()">8</button>
                                </td>
                                <td>
                                    <button type="button" id="9button" class="btn pin-button" onclick="insertCharacter()">9</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" id="backbutton" class="btn pin-button" onclick="clearPin()">X</button>
                                </td>
                                <td>
                                    <button type="button" id="0button" class="btn pin-button" onclick="insertCharacter()">0</button>
                                </td>
                                <td>
                                    <button type="button" id="okbutton" class="btn btn-primary pin-button" onclick="okClicked()" data-dismiss="modal">OK</button>
                                </td>
                            </tr>
                        </table>

                    </div>
                     <br />
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="doneModal" tabindex="-1" role="dialog" aria-labelledby="doneModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="doneModalLabel">Done with Machine</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:center;">
                    I’ve finished my laundry, mark the machine as open
                    <br />
                    <button type="button" id="doneButton" class="btn btn-primary" onclick="doneClicked()" data-dismiss="modal">Finish</button>
                    <br />
                    I need this machine, let them know I'm waiting
                    <br />
                    <button type="button" id="notifyButton" class="btn btn-primary" data-dismiss="modal">Notify</button>
                </div>
            </div>
        </div>
    </div>
<script>
    $('#reserveModal').on('hidden.bs.modal', function () {
        document.getElementById("cycleSelection").style.display = "block";
        document.getElementById("enterPin").style.display = "none";
        $('#pinBox').val('');
    })

    function insertCharacter() {
        var val = $('#pinBox').val();   
        if (val.length < 4) {
            newval = val + '*';
            $('#pinBox').val(newval);
        }
    }

    function clearPin() {
        $('#pinBox').val('');
    }
</script>
</body>

