@model HCIProject.Models.LaundryRoom
@{
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/Scripts/Index.js")

<body class="kiosk-background">
    <div class="kiosk-body">
        <h2 id="kioskTitle">Select A Machine:</h2>
        <div class="machine-type-header">Washers</div>
        <div class="row">
            @foreach (var washer in Model.washerList)
            {
                <div class="col-sm-2" onclick="clicked('@(washer.status)', @(washer.machineName))">
                    @if (washer.status.Equals("open"))
                    {
                        <div id="@(washer.machineName)" class="washer-div open">
                            <h2 class="machine-number">@washer.machineName</h2>
                            <h4 id="status_@washer.machineName" class="machine-status">OPEN</h4>
                        </div>
                    }
                    else if (washer.status.Equals("idle"))
                    {
                        <div class="washer-div done">
                            <h2 class="machine-number">@washer.machineName</h2>
                            <h4 class="machine-status">DONE</h4>
                        </div>
                    }
                    else
                    {
                        <div class="washer-div inUse">
                            <h2 class="machine-number">@washer.machineName</h2>
                            <h4 class="machine-status">IN USE</h4>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="machine-type-header">Dryers</div>
        <div class="row">
            @foreach (var dryer in Model.dryerList)
            {
                <div class="col-sm-2">
                    @if (dryer.status.Equals("open"))
                    {
                        <div class="washer-div open">
                            <h2 class="machine-number">@dryer.machineName</h2>
                            <h4 class="machine-status">OPEN</h4>
                        </div>
                    }
                    else if (dryer.status.Equals("idle"))
                    {
                        <div class="washer-div done">
                            <h2 class="machine-number">@dryer.machineName</h2>
                            <h4 class="machine-status">DONE</h4>
                        </div>
                    }
                    else
                    {
                        <div class="washer-div inUse">
                            <h2 class="machine-number">@dryer.machineName</h2>
                            <h4 class="machine-status">IN USE</h4>
                        </div>
                    }
                </div>
            }
        </div>

        <div id="reserveOverlay">
            <button class="close" onclick="closeClicked('reserveOverlay')">X</button>
            <h3 class="reserve-header">Reserve</h3>
            <form>
                <p class="cycle-type">Select Cycle Type</p>
                <select>
                    <option> Regular Wash </option>
                    <option> Delicates </option>
                    <option> Permanent Press </option>
                </select>
            </form>
            <button class="nextButton" onclick="nextClicked()">Next</button>
        </div>

        <div id="pinOverlay">
            <button class="close" onclick="closeClicked('pinOverlay')">X</button>
            <h3>Enter Pin</h3>
            <div>
                <span class="numberInput"></span>
                <span class="numberInput"></span>
                <span class="numberInput"></span>
                <span class="numberInput"></span>
            </div>
            <table id="keypad">
                <tr>
                    <td class="btn">1</td>
                    <td class="btn">2</td>
                    <td class="btn">3</td>
                </tr>
                <tr>
                    <td class="btn">4</td>
                    <td class="btn">5</td>
                    <td class="btn">6</td>
                </tr>
                <tr>
                    <td class="btn">7</td>
                    <td class="btn">8</td>
                    <td class="btn">9</td>
                </tr>
                <tr>
                    <td class="btn">DEL</td>
                    <td class="btn">0</td>
                    <td class="btn" onclick="okClicked()">OK</td>
                </tr>
            </table>
        </div>
        </div>
</body>