@model HCIProject.Models.LaundryRoom

@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="machine-type-header">Washers</div>
    <div id="washerDiv" class="row">
        @foreach(var washer in Model.washerList) {
            <div class="col-md-4"> 
                @if (washer.status.Equals("open"))
                {
                    <div class="machine-tile open"> @washer.machineName</div>
                }
                else if (washer.status.Equals("idle"))
                {
                    <div class="machine-tile idle"> @washer.machineName</div>
                }
                else
                {
                    <div class="machine-tile busy"> @washer.machineName</div>
                }
            </div>
        }
    </div>
    <div class="machine-type-header">Dryers</div>
    <div class="row">
        @foreach (var dryer in Model.dryerList) {
            <div class="col-md-4">
                @if (dryer.status.Equals("open"))
                {
                    <div class="machine-tile open"> @dryer.machineName</div>
                }
                else if (dryer.status.Equals("idle"))
                {
                    <div class="machine-tile idle"> @dryer.machineName</div>
                }
                else
                {
                    <div class="machine-tile busy"> @dryer.machineName</div>
                }
            </div>
        }
    </div>
</body>