<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Laundry Monitor", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav" style="margin-top:15px; margin-left:60%">
                    <select>
                        <option selected="selected">Kauffman</option>
                        <option>Abel</option>
                        <option>Sandoz</option>
                        <option>University Suites</option>
                    </select>
                    <select>
                        <option selected="selected">Floor 1</option>
                        <option>Floor 2</option>
                        <option>Floor 3</option>
                    </select>
                </div>
                <div>
                    <a href='@Url.Action("Index", "Account")' class="pull-right">
                        <img src="~/Content/Images/if_User_Accounts_alt_100297.png" id="accountButton" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Laundry Monitor</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>